*{
    margin: 0;
    padding: 0;
}
.hero{
        height: 100vh;
        width: 100%;
        background:radial-gradient(circle, #d66a94, #e16e8b, #ea7482, #f07b79, #f48470, #f88278, #fc8081, #ff7f8a, #f97aac, #e27ece, #b989ea, #7996fd);
        font-family: sans-serif;
        position: relative;
    }
    nav{
        width: 80%;
        margin: auto;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        width: 255px;
        cursor: pointer;
        font-family: cursive;
        font-size: 40px;
        padding: 10px 18px;
        border: 5px double #ff4321;
        background: -webkit-linear-gradient(rgb(64, 149, 245), rgb(245, 17, 17), rgb(122, 57, 184));
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
        border-right-style: none;
        border-bottom-style: none;
        border-radius: 9px;
        transition: .5s;
    }
    .logo:hover{
        border: 5px double #ff4321;
        color: #ff4321;
        border-left-style: none;
        border-top-style: none; 
        transform: scale(.9) rotate(-15deg);
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
    }
    nav ul li a{
        text-decoration: none;
        color:#faeff4e3 ;
        font-size: 20px;
        font-weight: 600;
        transition: .5s;
    }
    nav ul li a:hover{
        color: #ff4321;
        font-style: italic;
        font-family: cursive;
        font-size: 30px;
    }
   .info{
       margin-left: 8%;
       margin-top: 15%;

   }
   .info h1{
       font-size: 70px;
       color: #212121;
       margin-bottom: 20px;
   }
   span{
       color: #ff4321;
   }
   
   .info p{
       color:#606163;
       line-height: 29px;
       
   }
   .info a{
    background:(#212121);
    padding: 10px 18px;
    text-decoration: none;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    color: #fff;
    background: #d66a94;
    font-weight: 600;
    
}
.info a:hover{
 transform: scale(1.3) rotate(0deg);
 font-family: cursive;
 background: -webkit-linear-gradient(rgb(245, 35, 35), rgb(95, 76, 204));
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 
 
}
   .img-box{
       width: 45%;
       height: 80%;
       position: absolute;
       bottom: 0;
       right: 100px;
   }
   .img-box img{
       height: 80%;
       position: absolute;
       left: 50%;
       bottom: 0;
       transform: translateX(-50%);
       transition: bottom 1s,left 1s;
       
   }

   .img-box:hover .back-img{
       bottom: 40px;
   }
  
   .img-box:hover .main-img{
       left: 54%;
   }
   .social-links{
       margin-left: 8%;
   }
   .social-links a{
       font-size: 30px;
       color: #918b8a;
       margin-right: 20px;
       
   }
   .social-links a:hover{
   
       color: #ff4321;
       
   }



   /*About*/
   .img-gallery{
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:30px;
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
}
.img-gallery img:hover{
    transform: scale(.8) rotate(-15deg);
    border-radius: 30px;
    box-shadow: 0 32px 75px rgba(68,77,136,0.2);
}

.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index:100;
}
.full-img img{
    width: 90%;
    max-width: 500px;
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.projects{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
   
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;


}




/**Full size website */
.fullweb{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    
    
}
.fweb-col{

    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.fweb-col img{
    width: 300px;
    height: 702px;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    
}
.layer:hover{
    background: #addce777;
   
}
.layer h3 {
    color: rgb(255, 254, 254);
    font-size: 35px;
    letter-spacing: 3px;
    width: 100%;
    font-weight: 500;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
opacity: 0;
transition: .5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.fullweb .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

/**About me  */
.about-us{
    width: 100%;
    margin: auto;
    padding-top: 50px;
    
    
}
.about-us .row{

    display: flex;
    justify-content: center;
}
.text{
    max-width: 60%;
    height: 500px;
}
/**Contact */
.blog-content{
    width: 80%;
    margin: auto;
    

}
.blog-left{
    flex-basis: 65%;
}
.comment-box{
    border: 1px solid rgb(223, 36, 36);
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
    color: #f44336;
}
.comment-form input, .comment-form textarea{
    width:100% ;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-form button{
    margin: 10px 0;
}
.hero-btn-blog{
    display: inline-block;
    text-decoration: none;
    color: #f44336;
    border: 3px solid rgb(19, 159, 240);
    padding: 10px 20px;
    background: rgb(255, 255, 255);
    position: relative;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
}
.hero-btn-blog:hover{
    color: #5ac5e0;
}
@media(max-width:700px){
    .blog-header h1{
        font-size: 24px;
    }
}